.btn-primary {
    background-color: #3A10E5;
    border-color: #3A10E5;
}

.btn-primary:hover {
    background-color: #3A10E5;
    border-color: #3A10E5;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transform: translateY(-0.05em);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}